/* where classes given auto that material adjust in bet  for div classes not others*/
.navbar {
  display: flex;
  margin-top: 2%;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #fff; /* Adjust as needed */
}

.navbar .logo {
  flex: 0 0 auto; /* Prevents the logo from growing or shrinking */
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px; /* Adjust spacing between menu items as needed */
  margin: 0;
  padding: 0;
  flex: 3;
  justify-content: center;
}

.navbar-menu li {
  cursor: pointer;
}

.navbar-menu li.active {
  text-decoration: underline;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px; /* Adjust spacing between right items as needed */
}
.right {
  display: flex;
  justify-content: flex-end; /* Aligns the items to the right */
  align-items: center;
  gap: 20px; /* Adjust spacing between right items as needed */
  flex: 0 0 auto;
  padding-right: 20px; /* Adds padding to the right side */
}
.right img,
.right .navbar-search-icon,
.right button {
  flex: 0 0 auto; /* Prevents the elements from growing or shrinking */
}

.dot {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.navbar button {
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid tomato;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
}

/* underline efect */
.navbar.active {
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e;
}
.navbar li {
  cursor: pointer;
}
/* for dot to make visible on basket */
.navbar button:hover {
  background-color: #fff4f2;
}
.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}
.navbar-profile {
  position: relative;
}
.nav-profile-dropdown {
  position: absolute;
  display: none;
  right: 0;
  z-index: 1;
}
.navbar-profile:hover .nav-profile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff2ef;
}
/* to make it responsive after all css dddddddddddddddddddddne chk to responsive */
@media (max-width: 1050px) {
  .navbar.logo {
    width: 140px;
  }
  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }
  .right {
    gap: 30px;
  }
  .right img {
    width: 22px;
  }
  .right button {
    padding: 8px 25px;
  }
}
@media (max-width: 900px) {
  .navbar.logo {
    width: 120px;
  }
  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }
  .right {
    gap: 20px;
  }
  .right img {
    width: 20px;
  }
  .right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}
@media (max-width: 750px) {
  .navbar-menu {
    display: none;
  }
}
