/* where classes given auto that material adjust in bet  for div classes not others*/
.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* or .navbar .logo=.logo */
.logo {
  width: 150px;
  margin-right: 20px;
}
.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
}
.right {
  align-items: center;
  gap: 40px;
  display: flex;
  /* display flex to align one by one in row */
}
.navbar button {
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid tomato;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
}
.navbar button:hover {
  background-color: #fff4f2;
}
/* underline efect */
.navbar.active {
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e;
}
.navbar li {
  cursor: pointer;
}
/* for dot to make visible on basket */
.navbar-search-icon {
  position: relative;
}
.navbar-search-icon.dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}
/* to make it responsive after all css dddddddddddddddddddddne chk to responsive */
@media (max-width: 1050px) {
  .navbar.logo {
    width: 140px;
  }
  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }
  .right {
    gap: 30px;
  }
  .right img {
    width: 22px;
  }
  .right button {
    padding: 8px 25px;
  }
}
@media (max-width: 900px) {
  .navbar.logo {
    width: 120px;
  }
  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }
  .right {
    gap: 20px;
  }
  .right img {
    width: 20px;
  }
  .right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}
@media (max-width: 750px) {
  .navbar-menu {
    display: none;
  }
}
